{{> admin-tabs route='products'}}

<div class="d-flex align-items-center">
  <a href='/admin/products/create' style="display: block; margin-left: auto; margin-right: auto;">
    <button type="button" class="btn">New Product</button>
  </a>
</div>


<br />
<br />

<table class="table align-middle" id="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <a class="btn btn-edit text-decoration-none" href="/admin/products/{{this.id}}/edit">
          Edit
        </a>
        <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-delete text-decoration-none"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>