<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Eva's F1 store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">


        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">signup</a>
        </li>
        {{/unless}}
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">profile</a>
        </li>
        {{#if user.isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
        {{/if}}
        <li class="nav-item cart-logo">
          <span class="count">
            {{#if cart}}
            {{cart.length}}
            {{else}}
            <p>0</p>
            {{/if}}
          </span>
          <a class="nav-link" href="/cart"><span class="material-icons">
              local_mall
            </span></a>
        </li>

      </ul>
    </div>

  </div>
</nav>

{{#if user}}
{{#unless user.isAdmin}}
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid justify-content-center gap-5 nav-underline">

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-item nav-link link-body-emphasis" data-bs-toggle="dropdown" aria-expanded="false">
          Teams
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          {{#each categoryTeams}}
          <li><a class="dropdown-item" href="/cateprod?category={{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <li class="divider-vertical"></li>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-item nav-link link-body-emphasis" data-bs-toggle="dropdown" aria-expanded="false">
          Drivers
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          {{#each categoryDrivers}}
          <li><a class="dropdown-item" href="/cateprod?category={{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Men</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Women</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Kids</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Other Items</a>

  </div>
</nav>
{{/unless}}
{{/if}}