<h1>Your items</h1>

{{#if cartItems}}
<div class="row d-flex my-3 justify-content-between align-items-start">
  <div class="col-7 d-flex p-3 flex-column" style="background-color: rgb(144, 221, 127);">

    {{#each cartItems}}
    <div class="d-flex cart-item">
      <a href=""><img class="img-fluid my-3" width="330px" height="300px"
          src="{{this.image}}"
          alt=""></a>
      <div>
        <div class="d-flex justify-content-between p-3 gap-5">
          <p>Product name: {{this.name}}</p>
        </div>
        <div class="d-flex justify-content-between p-3 gap-5">
          <p class="product-amount">USD$ {{this.amount}}</p>
        </div>
        <div class="d-flex justify-content-between p-3 gap-5">
          <p>Size: {{this.size}}</p>
        </div>
        <div class="d-flex justify-content-between p-3 gap-5">
          <p>Quantity: {{this.qty}}</p>
        </div>

      </div>
    </div>
    {{/each}}
</div>

  <div class="col-4 p-5" style="background-color: rgb(89, 96, 94);">
    <div class="d-flex justify-content-between mb-5 cart">
      <p id="totalAmountInCart">Total price: USD$ {{totalAmount}}</p>
    </div>
    <a href="" class="btn btn-light w-100">Checkout</a>
  </div>

    {{else}}
  <div class="cart-empty">
    <h2>Your shopping cart is empty</h2>
    <a href="/" class="btn btn-light mt-5">Continue shopping</a>
  </div>

</div>
{{/if}}