{{!-- pagination --}}
<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination">

    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/cateprod?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}

    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>

    {{else}}

    <li class="page-item">
      <a class="page-link" href="/cateprod?page={{this}}">{{this}}</a>
    </li>

    {{/ifCond}}
    {{/each}}

    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/cateprod?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>

<section>
  <div>
    <ul class="showproducts">
      {{#each benzproducts}}
      <li class="showproducts-card col-3" style="width: 18rem;">
        <div class="img-frame">
          <a href="/cateprod/{{this.id}}">
            <img class="imgshow" src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
          </a>
        </div>

        <div class="showproducts-card-body">
          <h5 class="showproducts-card-title">{{this.name}}</h5>
          <h5 class="showproducts-card-details"> USD$ {{this.amount}}</h5>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>

{{!-- pagination --}}
<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination">

    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/cateprod?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}

    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>

    {{else}}

    <li class="page-item">
      <a class="page-link" href="/cateprod?page={{this}}">{{this}}</a>
    </li>

    {{/ifCond}}
    {{/each}}

    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/cateprod?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>