<h1>Payment Page</h1>

<br />
<br />
<br />
<br />
<br />

<form method="post" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">

<input name="MerchantID" value="{{MerchantID}}"><br/>

<input name="MerchantTradeNo" value="{{MerchantTradeNo}}"><br/>

<input name="MerchantTradeDate" value="{{MerchantTradeDate}}"><br/>

<input name="PaymentType" value="{{PaymentType}}"><br/>

<input name="EncryptType" value="{{EncryptType}}"><br/>

<input name="TotalAmount" value="{{TotalAmount}}"><br/>

<input name="TradeDesc" value="{{TradeDesc}}"><br/>

<input name="ItemName" value="{{ItemName}}"><br/>

<input name="ReturnURL" value="{{ReturnURL}}"><br/>

<input name="ChoosePayment" value="{{ChoosePayment}}"><br/>

<input name="CheckMacValue" value="{{CheckMacValue}}"><br/>

<input type ="submit" value = "送出參數">

    </form>